extends base.pug


block scripts
  script(src='../static/index.js')

block style 
     style
      include ../static/style.css   

block content 
    section#introsection 
        div welcome to vishu's dance academy 
        div.small eat sleep dance repeat
    
    section#missionsection 
        h2 our mission 
        div.card
          h3 dance perfection
          div.card-box
            div.card-img
                img(src="../static/img/1.jpg")
            div.card-content
              p this is the best dance academy of the universe
        
        div.card
          h3 dance the way you like
          div.card-box
            div.card-img
                img(src="../static/img/2.jpg")
            div.card-content
              p this is the best dance academy of the universe
        div.card
          h3 expert teaching 
          div.card-box
            div.card-img
                img(src="../static/img/3.jpg")
            div.card-content
              p this is the best dance academy of the universe

    section#sponsorssection 
        h2 our sponsors 
        div#sponsors
            img(src="../static/img/logo1.jpg", alt="sponsor image" , class="spimage")
            img(src="../static/img/logo2.png", alt="sponsor image" , class="spimage")
            img(src="../static/img/logo3.png", alt="sponsor image" , class="spimage")
            img(src="../static/img/logo4.png", alt="sponsor image" , class="spimage")          